<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ title }}
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="/favicon.png" />
</head>
<body class="bg-dark text-white">
    {{ navbar }}
    <div align="center" class="mt-3">
        {{ main_heading }}
    </div>
    <div class="mt-3 container">
        {{ content }}
    </div>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>