<div class="mx-2 card bg-dark text-light border-light" style="width: 18rem;">
    <div class="card-body">
      <h5 align="center" class="card-title">{{ title }}</h5>
      <h6 align="center" class="card-subtitle mb-2 text-secondary">{{ subtitle }}</h6>
      <p align="center" class="card-text">{{ description }}</p>
      <div class="d-flex flex-row justify-content-around">
        <a href="{{ link }}" class="card-link text-decoration-none">Карточка</a>
        <a href="{{ api_link }}" class="card-link text-decoration-none" target="_blank">API</a>
      </div>
    </div>
</div>